.composers {
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  color: var(--font-primary);
  /* max-width: 900px; */
  margin: 100px 100px 100px 100px;
}

.composer-img-container {
  /* border: 1px solid red; */
}

.composer-img-container {
  position: relative;
  overflow: hidden;
}

.composerImg {
  width: 100%;
  display: block;
}

.composer-details {
  position: absolute;
  transform: translateY(100%);
  padding: 20px;
  border: 1px solid var(--bg-primary);
  background-color: var(--bg-primary);
  width: 100%;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.076, 1);
  color: var(--font-primary);
  font-size: bold;
  font-size: 18px;
}

.composer-img-container:hover .composer-details {
  transform: translateY(-100%);
}
