.puzzle-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.puzzle-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.puzzle-details > * {
  color: var(--font-primary);
  font-weight: 600;
  font-size: 18px;
  padding: 2px;
}

.puzzle-details > a {
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 10px;
}

.puzzle-details > a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 2px;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 50%;
  transform: translateX(-50%);
}

.puzzle-details > a:hover:after {
  width: 100%;
}
