.cats {
  margin-left: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cats-header {
  margin-bottom: 30px;
  font-size: 32px;
  color: var(--font-primary);
}

.cat-img {
  max-width: 300px;
  margin-bottom: 40px;
  border: 2px solid var(--font-primary);
  padding: 20px;
}

.gen-btn {
  border: none;
  font-size: 40px;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%) opacity(0.7);
  filter: opacity(0.5);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  color: var(--font-primary);
  background: transparent;
}

.gen-btn:hover {
  filter: grayscale(0%) opacity(1);
  filter: opacity(1);
}
