.history {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
  padding: 80px 40px;
  color: var(--font-primary);
}

.history-puzzles-grid {
  display: grid;
  place-items: center;
  gap: 40px;
  list-style-type: none;
}

.history-puzzle-item > p {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  max-width: 300px;
}

.one-column {
  grid-template-columns: 1fr;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .two-columns,
  .three-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .one-column,
  .two-columns,
  .three-columns {
    grid-template-columns: 1fr;
  }
}
